<div class="container p-0">
	<nav style="background-color: #333; color:white; text-decoration: none;">
		<a href="#" style="text-decoration: none; color:white" class="p-2">Acerca de</a>
		<a href="compania" style="text-decoration: none; color:white" class="p-2">Pago de Recibo</a>
		<a href="#" style="text-decoration: none; color:white" class="p-2">Contactos</a>

	</nav>

</div>