<footer>
	<br /><br />
	<hr />
	<div class="container mt-2 p-2 text-center" style="background-color: palevioletred;; border: 1px black solid">
		<h4> Compañía de Luz @ Derechos Reservados 2023 - Erick Lopez</h4>
	</div>
</footer>