<!DOCTYPE html>
<html lang="en">
<%-include ('partials/encabezado.html'); %>

	<body>
		<%-include ('partials/navbar.html'); %>
			<div class="container p-2" style="background-color: khaki;">
				<form action="/compania" method="post">

					<!--Datos pagina de entrada-->
					<label for="">Numero Recibo:</label>
					<input type="number" name="numRec" id="numRec">
					<br>
					<label for="">Nombre:</label>
					<input type="text" name="nombre" id="nombre">
					<br>
					<label for="">Domicilio:</label>
					<input type="text" name="domicilio" id="domicilio">
					<br>
					<label for="">Tipo de servicio: </label>
					<select name="tipoServicio" id="tipoServicio">
						<option value="1">Domestico</option>
						<option value="2">Comercial</option>
						<option value="3">Industrial</option>
					</select>
					<br>
					<label for="">Kilowatts Consumidos</label>
					<input type="number" name="kilowatts" id="kilowatts">
					<br>
					<button type="submit">Enviar información</button>
					<button type="reset">Limpiar</button>

					<!-- <% 
					let nombre;
					let subtotal=0;
					let impuesto=0;
					let descuento=0;
					let total=0; 
					let costo=0;
					let servicioNom;


					if(tipoDeServicio==1){
						costo=1.08;
						servicioNom="Domicilio";
						subtotal=Number(kws)*Number(costo);
						impuesto=subtotal * 0.16; 
						if(kws<=1000){
							descuento=Number(subtotal)*0.1;
							total=(Number(subtotal)-Number(descuento))+Number(impuesto);
						}else if(kws>1000 && kws<=10000){
							descuento=Number(subtotal)*0.2;
							total=(Number(subtotal)-Number(descuento))+Number(impuesto);
						}else if(kws>10000){
							descuento = Number(subtotal)*0.5;
							total = (Number(subtotal)-Number(descuento))+Number(impuesto);
						}
					}
					
					if(tipoDeServicio==2){
						costo=2.5;
						servicioNom="Comercial";
						subtotal=Number(kws)*Number(costo);
						impuesto=subtotal * 0.16; 
						if(kws<=1000){
							descuento=Number(subtotal)*0.1;
							total=(Number(subtotal)-Number(descuento))+Number(impuesto);
						}else if(kws>1000 && kws<=10000){
							descuento=Number(subtotal)*0.2;
							total=(Number(subtotal)-Number(descuento))+Number(impuesto);
						}else if(kws>10000){
							descuento = Number(subtotal)*0.5;
							total = (Number(subtotal)-Number(descuento))+Number(impuesto);
						}
					}
					
					if(tipoDeServicio==3){
						costo=3;
						servicioNom="Industrial";
						subtotal=Number(kws)*Number(costo);
						impuesto=subtotal * 0.16; 
						if(kws<=1000){
							descuento=Number(subtotal)*0.1;
							total=(Number(subtotal)-Number(descuento))+Number(impuesto);
						}else if(kws>1000 && kws<=10000){
							descuento=Number(subtotal)*0.2;
							total=(Number(subtotal)-Number(descuento))+Number(impuesto);
						}else if(kws>10000){
							descuento = Number(subtotal)*0.5;
							total = (Number(subtotal)-Number(descuento))+Number(impuesto);
							}
					}


					%>
					<br>
					<table>
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Tipo de servicio</th>
								<th>Kilowatts consumidos</th>
								<th>Costo por Kilowatts</th>
							</tr>
						</thead>
						<hr>
						<tbody>
							<tr>
								<th><%=name%></th>
								<th><%=servicioNom%></th>
								<th><%=kws%></th>
								<th><%=costo%></th>
							</tr>
							<tr></tr>
							<tr>
								<th></th>
								<th></th>
								<th>subtotal</th>
								<th><%=subtotal%></th>
							</tr>
								<th></th>
								<th></th>
								<th>impuesto:</th>
								<th><%=impuesto%></th>
							<tr>
								<th></th>
								<th></th>
								<th>Descuento:</th>
								<th><%=descuento%></th>
							</tr>
							<tr>
								<th></th>
								<th></th>
								<th>Total a pagar:</th>
								<th><%=total%></th>
							</tr>
						</tbody>
					</table> -->

				</form>
			</div>
	</body>
	<%-include ('partials/piePagina.html'); %>

</html>